{% extends "groups/group_base.html" %}

{% block pregroup %}
    <h1>{{ group.name }}</h1>
    <h2>Member count: {{ group.members.count }}</h2>

    <div class="content">
        {% if user in group.members.all %}
            <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-warning"><span class"fa fa-times-circle"> </span>Leave group</a>
        {% else %}
            <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-primary"><span class"fa fa-hand-o-right"> </span>Join group</a>
        {% endif %}
    </div>
{% endblock pregroup %}

{% block group_content %}
    <div class="col-md-8">
        {% for post in group.post.all %}
            {% include "posts/_post.html" %}
        {% empty %}
            <p>No posts yet!</p>
        {% endfor %}
    </div>
{% endblock group_content %}
